/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-bwl-gt-blocks-bwl-gt-services {
	border: 1px dotted #f00;

	$columns: 6;

	@for $i from 1 through $columns {
		&.has-#{$i}-columns {
			> .block-editor-inner-blocks > .block-editor-block-list__layout > {
				[data-type="bwl-gt-blocks/bwl-gt-service"] {
					width: calc((100% / #{$i}) - 20px);
				}
			}
		}
	}

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;

		[data-type="bwl-gt-blocks/bwl-gt-service"] {
			max-width: none;
			margin: 0;
		}

		> [data-type="bwl-gt-blocks/bwl-gt-service"] {
			margin: 10px;

			.wp-block-blocks-course-team-member-img {
				position: relative;

				.is-loading img {
					opacity: 0.3;
				}

				.components-spinner {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}

			h4 {
				font-size: 2rem;
				line-height: 2rem;
				margin: 0;
			}

			/*Social Media Button Styling*/

			.wp-block-blocks-course-team-member-social-links {
				ul {
					padding: 0;
					margin: 0;
					list-style: none;
					margin: 15px -5px 0;
					li {
						display: inline;
						margin: 5px;

						span.dashicon {
							color: #444444;
						}

						&.is-selected {
							outline: 2px solid #ff0000;
						}

						button {
							background: none;
							border: 0px;
							padding: 0;
							cursor: pointer;
							margin: 0;
						}

						&.wp-block-blocks-course-team-member-add-icon-li {
							button {
								outline: 1px dashed;
							}
						}
					}
				}
			}

			// Form Link.

			.wp-block-blocks-course-team-member-link-form {
				background: #add8ea;
				padding: 12px;
				margin-top: 6px;
			}
		}
	}
}
